nav, .logo {
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 8vh
}
a.menu-bar{
    display: none;
    cursor: pointer;
    color: black;
}
header {
    width: 100%;
    height: 10vh;
    background: rgb(85, 85, 85);
}
main {
    width: 100%;
    height: 60vh;
    background: rgb(207, 207, 207);
}
footer {
    width: 100%;
    height: 20vh;
    background: rgb(85, 85, 85);
}